numpy==1.22.4
clip==0.2.0
opencv_python==4.7.0.68
Pillow==9.4.0
scipy==1.7.3
setuptools==63.3.0
tensorflow==2.11.0
tensorflow-addons
tf_slim
psutil
protobuf
pandas
pyyaml
ipython
tqdm
matplotlib
seaborn
gin-config
pytz
wget
